<h1>Titulo de mi proyecto</h1>

<p>mi nombre es {{usuario.nombre}}</p>
<p>mi apellido es {{usuario.apellido}}</p>

<input type="text" id="chatBox">
<div>
    <p id="messageLogs"></p>
</div>

{{#if usuario.mayorEdad}}
    <p>es mayor de edad</p>
{{else}}
    <p>Es menor de edad</p>
{{/if}}

{{>card}}

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/main.js"></script>