{{#each arrayProductos}}
    <div>
        <h2 class="title">Producto: {{this.nombre}}</h2>
        <p>Descripción: {{this.descripcion}}</p>
        <p>Precio: {{this.precio}}</p>
    </div>
{{/each}}